<div>
  <label>Tttle</label>
  <input type="text" name="title" value="<%= book.title %>">
</div>
<div>
  <label>Author</label>
  <select name="author">
  <% authors.forEach(author => { %>
    <% if (author.id === book.author) {%>
      <option selected label="<%= author.name %>" value="<%= author.id %>"> </option>
    <% } else { %>
      <option label="<%= author.name %>" value="<%= author.id %>"></option>
    <% } %>
  <% }) %>
  </select>
</div>
<div>
  <label>Publish Date</label>
  <!-- 2 format date, W toISOString have a format DDMMYYYT06:35:00. W split we remove the hours  -->
  <input type="date" name="publishDate"
    value="<% book.publishDate == null ? '' :
    book.publishDate.toISOString().split('T')[0] %>">
</div>
<div>
  <label>Page Count </label>
  <input type="number" name="pageCount" min="1" value="<%= book.pageCount%>" >
</div>
<div>
  <label>Cover</label>
  <!-- class="filepound" allows to yse filepound library -->
  <input type="file" name="cover" class="filepond">
</div>
<div>
  <label>Description</label>
  <textarea name="description" ><%= book.description %> </textarea>
</div>
